
body {
    font-family: sans-serif;
}

.contactsView {
    background-color: antiquewhite;
    padding: 10px;
    width: 240px;
}

.searchBar {
    margin: 0;
    padding: 0;
}

.searchBar input {
    width: 100%;
    margin: 0;
    padding: 0;
}

.contactsListView {
    width: 240px;
}

.contactsDetailsView {
    position: absolute;
    left: 280px;
    padding: 10px;
    top: 5px;
    width: 480px;
    height: 600px;
}

.contactLine {
    width: 480px;
}