
html {
    overflow-x: hidden;
}

body {
    background: #ffc;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

#editor {
    padding: 0;
    position: absolute;
    left: 7px;
    top: 7px;
    right: 434px;
    bottom: 7px;
    background: white;
    border: solid 1px #963;
}

#sidebar {
    margin: 0;
    position: absolute;
    float: right;
    top: 7px;
    right: 7px;
    bottom: 7px;
    width: 406px;
    background: white;
    border: solid 1px #963;
    padding: 7px
}

