body {
    background-color: #333;
    color: #eec;
    font-family: sans-serif;
}

#colorSelectionButton {
    display: none;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 1px black solid;
    background-color: black;
    -webkit-appearance: none;
}

#colorPicker {
    display: none;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 327px;
    height: 190px;
    border: 1px black solid;
    margin: 0;
    padding: 5px;
}

.colorPickerCell {
    width: 23px;
    height: 50px;
    border: none;
}

.colorPickerCell .selected {
    border: 5px black solid;
}

a {
    color: #9ff;
}